body {
	font-family: "Segoe UI";
	font-size: 14px;
	color: #57606f;
}

label {
	font-weight: bold;
}

.menu ul {
	padding: 0px;
	background-color: #2f3542;
}
.menu li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}

.menu a{
	color: #1e90ff;
	text-decoration: none;
}